<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- 系统日志详情弹出层 -->
<div th:fragment="sys_log_detail_alert" id="sys_log_detail_alert" style="display: none;">
  <form class="layui-form">
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">ID:</label>
        <div class="layui-input-inline">
          <label class="layui-form-label id-data"></label>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">remark:</label>
        <div class="layui-input-inline">
          <label class="layui-form-label remark-data"></label>
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">action_type:</label>
        <div class="layui-input-inline">
          <label class="layui-form-label action_type-data"></label>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">addtime:</label>
        <div class="layui-input-inline">
          <label class="layui-form-label addtime-data"></label>
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">ip:</label>
        <div class="layui-input-inline">
          <label class="layui-form-label ip-data"></label>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- 修改密码弹出层 -->
<div th:fragment="editPasswordDialog" id="editPasswordDialog" class="site-text site-block"
     style="border: 1px solid #eee;display: none;padding: 20px;margin: 20px;">
  <form class="layui-form" action="" lay-filter="editPasswordForm" id="editPasswordForm">
    <div class="layui-form-item">
      <label class="layui-form-label">原密码</label>
      <div class="layui-input-block">
        <input type="password" name="oldPassword" lay-verify="required" placeholder="请输入原密码"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">新密码</label>
      <div class="layui-input-block">
        <input type="password" name="password" lay-verify="required|pass" placeholder="请输入新密码"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">再次输入</label>
      <div class="layui-input-block">
        <input type="password" name="repassword" lay-verify="required|pass" placeholder="再次输入新密码"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <input type="hidden" name="layerIndex" lay-verify="required">
    <button style="display:none;" lay-submit lay-filter="editPasswordFormSubmitBut"
            id="editPasswordFormSubmit"></button>
  </form>
</div>

<!-- 方案建立弹出层 -->
<div style="padding: 10px;display: none;" id="faDialog" th:fragment="faAddDialog">
  <div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
      <li class="layui-this">资金使用方案</li>
      <li>费项明细</li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <form class="layui-form" method="post" id="fa_addForm">
          <div class="layui-form" style="padding: 2px;">
            <table class="layui-table" lay-size="sm">
              <tr>
                <th style="white-space: nowrap;">方案编号</th>
                <td>
                  <input type="text" name="fabh" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">工程预算(元)</th>
                <td>
                  <input type="number" name="fayjje" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">计划开工日期</th>
                <td>
                  <input type="text" name="kgrq" readonly lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">计划完工日期</th>
                <td>
                  <input type="text" name="wgrq" readonly lay-verify="required" placeholder="" class="layui-input"/>
                </td>
              </tr>

              <tr>
                <th style="white-space: nowrap;">施工单位</th>
                <td>
                  <input type="text" name="sgdw" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">法人代表</th>
                <td>
                  <input type="text" name="sgdwfr" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">营业执照</th>
                <td>
                  <input type="text" name="sgdwyyzz" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">资质证号</th>
                <td>
                  <input type="text" name="sgdwzzzh" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
              </tr>

              <tr>
                <th style="white-space: nowrap;">开户账号</th>
                <td>
                  <input type="text" name="khzh" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">工程款支付方式</th>
                <td>
                  <input type="text" name="gckzzfs" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">工程款使用原因</th>
                <td>
                  <input type="text" name="gcksyyy" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">分摊方式</th>
                <td>
                  <select name="ftfs" lay-filter="ftfs">
                    <option value="平均分摊" selected>平均分摊</option>
                    <option value="按房屋面积分摊">按房屋面积分摊</option>
                  </select>
                </td>
              </tr>

              <tr>
                <th style="white-space: nowrap;">其他备注</th>
                <td colspan="7">
                  <textarea name="bz" placeholder="请输入内容" class="layui-textarea"></textarea>
                </td>
              </tr>

              <tr>
                <th style="white-space: nowrap;">方案起草</th>
                <td colspan="5">
                  <input type="text" name="faqc" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">登记日期</th>
                <td>
                  <input type="text" name="djrq" readonly lay-verify="required" placeholder="" class="layui-input"/>
                </td>
              </tr>

              <tr>
                <th style="white-space: nowrap;">业主委员会意见</th>
                <td colspan="7">
                  <textarea name="yzwyhyj" placeholder="请输入内容" class="layui-textarea"></textarea>
                </td>
              </tr>

              <tr>
                <th style="white-space: nowrap;">业主委员会</th>
                <td colspan="5">
                  <input type="text" name="yzwyh" lay-verify="required" placeholder="" class="layui-input"/>
                </td>
                <th style="white-space: nowrap;">签署日期</th>
                <td>
                  <input type="text" name="qzrq" readonly lay-verify="required" placeholder="" class="layui-input"/>
                </td>
              </tr>
            </table>
          </div>
        </form>
      </div>
      <div class="layui-tab-item">
        <div style="padding: 2px;">
          <table class="layui-table" lay-filter="fa_add_mxTables" id="fa_add_mxTables" style="margin-top: 0;"></table>
          <script type="text/html" id="fa_mxTablesToolBar">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
          <button id="newFaBtn" type="button" class="layui-btn layui-btn-primary"><i class="layui-icon"></i>新增</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 计息设置弹出层 -->
<div style="padding: 10px;display: none;" id="jxszDialog" th:fragment="jxszDialog">
  <form class="layui-form" method="post" id="jxsz_aeForm">
    <div class="layui-form" style="padding: 2px;">
      <table class="layui-table" lay-size="sm">
        <tr>
          <th style="white-space: nowrap;">生效日期</th>
          <td><input type="text" readonly name="sxrq" lay-verify="required" class="layui-input"/></td>
          <th style="white-space: nowrap;">利率(%)</th>
          <td><input type="text" readonly name="sxrq" lay-verify="required" class="layui-input"/></td>
        </tr>
      </table>
    </div>
    <button style="display:none;" lay-submit lay-filter="submitBut" ></button>
  </form>
</div>

</body>
</html>