<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:with="useAdmin=false" th:fragment="footer()">
  <!-- jquery -->
  <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
  <!-- Layui -->
  <script th:if="${useAdmin == true}" type="text/javascript" th:src="@{/static/js/layui-2.42/layui.js}"></script>
  <script th:if="${useAdmin != true}" type="text/javascript" th:src="@{/static/js/layui/layui.js}"></script>
  <!-- zTree -->
  <script type="text/javascript" th:src="@{/static/js/zTree/jquery.ztree.all.min.js}"></script>

  <script th:inline="javascript">
    const ctx = [[@{/}]];
  </script>

  <!-- print.js -->
  <script type="text/javascript" th:src="@{/static/js/print.min.js}"></script>
  <!-- day.js -->
  <script type="text/javascript" th:src="@{/static/js/dayJs-1.8.21/dayjs.min.js}"></script>
  <!-- base.js -->
  <script type="text/javascript" th:src="@{/static/js/base.js}"></script>
</div>
</html>