#忽略Java相关
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear

#忽略所有.svn目录
.svn/
#忽略所有target目录
target/
#忽略所有.idea目录
.idea/
#忽略所有.iml文件
*.iml
#忽略所有out目录
out/
#忽略所有.mvn目录
.mvn/

#忽略vue
.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*