<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>物业维修基金管理系统-方案管理</title>
</head>
<body>

<input type="hidden" id="opts" th:value="${optsStr}"/>

<div class="layui-tab-item layui-show" style="padding: 10px;">
  <div id="LAY_preview">
    <fieldset class="layui-elem-field layui-field-title">
      <legend>方案列表</legend>
    </fieldset>

    <!-- 方案列表 -->
    <div style="padding: 10px;">
      <div style="padding-bottom: 10px;">
        <div class="layui-inline" style="float:right;">
          <button th:if="${#lists.contains(opts, 'add')}" id="addFa" class="layui-btn layui-btn-normal"
                  style="margin-left:15px;">新建方案
          </button>
        </div>

        <form class="layui-form" id="searchForm">

          <div class="layui-inline" style="">
            <div class="layui-input-inline">
              <input type="text" id="fabh" name="fabh" placeholder="请输入方案编号搜索" value=""
                     autocomplete="off" class="layui-input" style=""/>
            </div>
          </div>

          <div class="layui-inline" style="">
            <div class="layui-input-inline">
              <select name="zt" id="zt">
                <option value="" selected>请选择</option>
                <option value="审核中">审核中</option>
                <option value="审核通过">审核通过</option>
                <option value="审核不通过">审核不通过</option>
              </select>
            </div>
          </div>

          <div class="layui-inline" style="">
            <div class="layui-input-inline">
              <button class="layui-btn layui-btn-danger btn_search" lay-submit lay-filter="formDemo1"
                      style="margin-left:15px;">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
              </button>
            </div>
          </div>

        </form>
        <div class="clearfix"></div>
      </div>

      <table id="faTable" class="layui-table" lay-filter="faTable"></table>

      <script type="text/html" id="faTableToolBar">
        <a th:if="${#lists.contains(opts, 'show')}" class="layui-btn layui-btn-xs" lay-event="mx">明细</a>
        {{#  if('审核通过' == d.zt){ }}
        <a th:if="${#lists.contains(opts, 'show')}" class="layui-btn layui-btn-normal layui-btn-xs"
           lay-event="yf">预付</a>
        <a th:if="${#lists.contains(opts, 'show')}" class="layui-btn layui-btn-warm layui-btn-xs"
           lay-event="js">结算</a>
        {{#  } }}
      </script>

    </div>

  </div>
</div>

<div th:replace="/common/footer::footer()"></div>

<script th:inline="javascript">
  const cuser = [[${cuser}]];
  const opts = [[${opts}]];

  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).extend({
    cascader: 'cascader/cascader',
    drawer: '/drawer/drawer'
  }).use(['element', 'laydate', 'table', 'form', 'cascader', 'drawer'], function () {
    //let element = layui.element;
    //let laydate = layui.laydate;
    let form = layui.form;
    let table = layui.table;
    let cascader = layui.cascader;
    let drawer = layui.drawer;

    getTableData();

    //获取方案管理列表
    function getTableData(fabh, fazt) {
      let params = {};
      /*if(cuser.yhType == '物业科' || cuser.yhType == '物业公司' || cuser.yhType == '银行') {
        params['fk_qybm'] = cuser['fk_qybm'];
      }*/
      if (cuser.yhType === '物业公司') {
        params['fk_wyid'] = cuser['fk_id'];
      }
      if (fabh) {
        params['fabh'] = fabh;
      }
      if (fazt) {
        params['zt'] = fazt;
      }

      let url = ctx + 'CZF/FAGL/getList';
      //获取表格数据
      table.render({
        elem: '#faTable',
        title: '方案列表',
        url: url, //数据接口
        where: params, //请求参数
        page: {
          layout: ['prev', 'page', 'next', 'skip', 'count']
        },
        // page: true,
        limit: 10,
        //limits: [10, 20, 50],
        cols: [[ //表头
          {field: 'fabh', title: '方案编号'},
          {field: 'fayjje', title: '方案预算(元)'},
          {field: 'sqrq', title: '申请日期'},
          {field: 'zt', title: '状态'},
          {field: 'yfzt', title: '预付状态'},
          {field: 'jszt', title: '结算状态'},
          {toolbar: '#faTableToolBar', align: 'center', fixed: 'right', title: '操作'}
        ]],
        parseData: function (res) { //res 即为原始返回的数据
          return {
            "code": res.success ? 0 : 1, //解析接口状态
            "msg": res.msg, //解析提示文本
            "count": res.data.totalRecord, //解析数据长度
            "data": res.data.dataList //解析数据列表
          };
        }
      });
    }

    //工具条事件
    table.on('tool(faTable)', function (obj) {
      let data = obj.data; //获得当前行数据
      let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
      let tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

      if (layEvent === 'mx') { //明细
        top.layer.open({
          type: 2,
          title: '方案明细',
          closeBtn: 1,
          shadeClose: false,
          area: ['1000px', '80%'],
          content: ctx + "/CZF/FAGL/toInfo/" + data.id,
          btn: ["审核历史"],
          yes: function (index, layero) {
            let index_i = top.layer.load();
            $.ajax({
              url: ctx + "/CZF/FASH/getHistoryList_yw/" + data.id,
              type: "POST",
              async: false,
              dataType: "json",
              contentType: "application/json;charset=utf-8",
              success: function (data) {
                top.layer.close(index_i);
                let his = data.data;
                top.layui.drawer.render({
                  title: '审核历史',  //标题
                  offset: 'l',    //r:抽屉在右边、l:抽屉在左边
                  top: 20,        //抽屉顶部距离，默认0
                  bottom: 20,     //抽屉底部距离，默认0
                  width: "600px", //r、l抽屉可以设置宽度
                  content: DRAWER.buildContent(his)
                });
              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                top.layer.close(index_i);
                top.layer.msg(XMLHttpRequest.responseJSON.msg ? XMLHttpRequest.responseJSON.msg : "操作失败!");
              }
            });
            return false;
          },
          end: function (index) {
            top.layer.close(index);
          }
        });
      } else if (layEvent === 'yf') { //预付
        TAB.open({
          "data-id": "fa-yf",
          "data-url": ctx + "/CZF/FAYF/Index/" + data.id,
          "data-opts": $("#opts").val(),
          "title": "方案预付(" + data.fabh + ")"
        });
      } else if (layEvent === 'js') { //结算
        //判断是否有结算信息
        let jsLoad = top.layer.load();
        let fk_faid = data.id;
        $.ajax({
          url: ctx + "CZF/FAJS/hasJsData/" + fk_faid,
          type: "POST",
          async: false,
          dataType: "json",
          contentType: "application/json;charset=utf-8",
          success: function (data) {
            top.layer.close(jsLoad);
            let fa_js_id = data.data;
            if (!fa_js_id) {
              if(opts.indexOf("add") < 0) {
                top.layer.msg("无结算信息");
              } else {
                top.layer.confirm("该方案无结算信息，是否新建结算", {
                  btn: ['确定', '取消'] //按钮
                }, function (index) { //确定，提交预付
                  top.layer.close(index);
                  top.layer.open({
                    type: 2,
                    title: '添加方案结算',
                    closeBtn: 1,
                    shadeClose: false,
                    area: ['1000px', '80%'],
                    content: ctx + "/CZF/FAJS/toAdd/" + fk_faid,
                    end: function (index) {
                      top.layer.close(index);
                    }
                  });
                });
              }
            } else {
              let opts = [[${opts}]];
              top.layer.open({
                type: 2,
                title: '方案结算详情',
                closeBtn: 1,
                shadeClose: false,
                area: ['1000px', '80%'],
                content: ctx + "/CZF/FAJS/toInfo/" + fa_js_id,
                btn: opts.indexOf("del") > -1 ? ["打印单据", "删除"] : ["打印单据"],
                yes: function (indexOut) {
                  Receipt.print(ctx + "CZF/FAJS/printReceipt/" + fa_js_id);
                  return false;
                },
                btn2: function (indexOut) {
                  top.layer.confirm("确定要删除该结算信息？", {
                    btn: ['确定', '取消'] //按钮
                  }, function (index) { //确定，提交预付
                    top.layer.close(index);
                    let loa = top.layer.load();
                    $.ajax({
                      url: ctx + "/CZF/FAJS/del/" + fa_js_id,
                      type: "GET",
                      dataType: "json",
                      contentType: "application/json;charset=utf-8",
                      success: function (data) {
                        top.layer.close(loa); //关闭弹出框
                        top.layer.msg(data.msg);
                        top.layer.close(indexOut); //关闭弹出框
                        window.location.reload();
                        return false;
                      },
                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                        top.layer.close(loa); //关闭弹出框
                        top.layer.msg(XMLHttpRequest.responseJSON.msg ? XMLHttpRequest.responseJSON.msg : "操作失败!");
                        return false;
                      }
                    });
                  });
                },
                end: function (index) {
                  top.layer.close(index);
                }
              });
            }
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            top.layer.close(jsLoad);
            top.layer.msg(XMLHttpRequest.responseJSON.msg ? XMLHttpRequest.responseJSON.msg : "操作失败!");
          }
        });
      }
    });

    //添加按钮事件
    $("#addFa").on('click', function () {
      TAB.open({
        "data-id": "add-fa",
        "data-url": ctx + "/CZF/FAGL/toAdd/",
        "data-opts": $("#opts").val(),
        "title": "新建方案"
      });
    });

    //搜索按钮事件
    form.on('submit(formDemo1)', function (data) {
      let fabh = data.field.fabh;
      let fazt = data.field.zt;
      getTableData(fabh, fazt);
      return false;
    });

  });
</script>
</body>
</html>