html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  /*-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
  /*overflow-x:hidden;*/
}

#LAY_preview {
  padding-top: 10px;
}