* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.welcome {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
}

#pane {
  width: 40%;
  height: 500px;
  background-color: #fff;
  text-align: left;
  /*box-shadow: -10px 20px 100px black;*/
  position: absolute;
  top: 28%;
  left: 60%;
}

.pane-header {
  position: absolute;
  top: 16%;
  left: 12%;
  width: 619px;
  height: 89px;

}

.title {
  position: absolute;
  top: 12%;
  right: 7%;
  color: #136cd6;
  font-size: 44px;
  width: 26%;
  height: auto;
}

.pane-left {
  position: absolute;
  top: 31%;
  left: 7%;
  width: 1100px;
  /*margin-let: -656px;*/
}

.dl {
  position: absolute;
  top: -12%;
  left: 40%;
  width: 470px;
  margin-left: -235px;
}

.pane-content {
  padding: 10px 135px 5px 135px;
}

.support {
  margin-top: 70px;
  /*  width:300px;*/
  text-align: center;
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  width: 40%;

  right: 0;

}

.pane-content .userpwd {
  margin-bottom: 25px;
  height: 50px;
  position: relative;
}

.pane-content {
  margin-top: 30px;
}

.pane-content .userpwd img {
  position: absolute;
  top: 14px;
  left: 10px;
}

.YZM {
  float: right;
  display: flex;
  width: 32%;
  height: 100%;
  border: 1px solid #dddddd;
  background-color: #eee;
}

.pane-content .userpwd input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 52px;
  border: 1px solid #dddddd;
  color: #6677ad;
  border-radius: 5px;
}

.pane-content .userpwd input:focus {
  outline: none;
  border: 1px solid #284677;
  box-shadow: 0 0 10px #284677;
}

.pane-content .userpwd input::-webkit-input-placeholder {
  color: #595959;
  font-size: 16px;
}

.setting a {
  color: darkgray;
  font-size: 13px;
}

.setting a.pull-right {
  float: right;
}

.tip {
  color: #999;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  margin-top: 30px;
}

.zc {
  color: blue;
  text-decoration: underline;
}

.login-btn {
  /*margin: 15px 0;*/
  width: 100%;
  height: 48px;
  background: linear-gradient(314.45deg, #284677 0, #5a81d9 100%);
  border: 0;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.login-btn:hover {

}

.login-btn:focus {
  outline: none;
}

.login {
  color: #2a65b3;
  border-bottom: 2px #2a65b3 solid;
  font-size: 25px;

  margin-bottom: 30px;
  padding-bottom: 10px;
}

.reg {
  text-align: center;
  margin-bottom: 15px;
  color: darkgray;
  font-size: 13px;
}

.reg a {
  color: orangered;
}

.pane-footer {
  padding: 0 20px;
  height: 44px;
  line-height: 44px;
}

.pane-footer img {
  width: 30px;
  vertical-align: middle;
}

.right_bj {
  width: 40%;
  position: absolute;
  right: 12%;
  top: 36%;
}