<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>物业维修基金管理系统-账户管理</title>
</head>
<body>

<input type="hidden" id="opts" th:value="${optsStr}" />

<div class="layui-tab-item layui-show">
  <div id="LAY_preview">
    <blockquote class="layui-elem-quote layui-text">
      账户开户
    </blockquote>

    <div style="padding: 10px;">
      <div style="padding-bottom: 10px;">
        <form class="layui-form" id="searchForm">
          <div class="layui-inline" style="float:left;display:flex;">
            <input type="text" id="yhmc" name="xmmc" placeholder="请输入小区名称搜索" value=""
                   autocomplete="off" class="layui-input" style=""/>
            <button class="layui-btn layui-btn-danger btn_search" lay-submit lay-filter="formDemo1"
                    style="margin-left:15px;">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
      <table id="xmTable" class="layui-table" lay-filter="xmTable"></table>
      <script type="text/html" id="xmTableToolBar">
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="kh">去开户</a>
      </script>
    </div>

  </div>
</div>

<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/citys.js}"></script>

<script th:inline="javascript">
  const cuser = [[${cuser}]];
  const opts = [[${opts}]];
  const xtglid = [[${cuser.fk_xtglid}]];
  const cYhType = [[${cuser.yhType}]];

  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).extend({
    cascader: 'cascader/cascader'
  }).use(['element', 'laydate', 'table', 'form', 'cascader'], function () {
    //let element = layui.element;
    //let laydate = layui.laydate;
    let form = layui.form;
    let table = layui.table;
    let upload = layui.upload;

    getXmTableData();

    //搜索按钮事件
    form.on('submit(formDemo1)', function (data) {
      let xmmc = data.field.xmmc;
      getXmTableData(xmmc);
      return false;
    });

    //获取表格数据
    function getXmTableData(xmmc) {
      debugger;
      let url = ctx + 'CZF/XMGL/getList';
      let params = {};
      if (xmmc) {
        params['xmmc'] = xmmc
      }
      /*if (cuser.fk_id) {
        params['fk_wyid'] = cuser.fk_id;
      }*/
      /*if(cuser.yhType == '物业科' || cuser.yhType == '物业公司' || cuser.yhType == '银行') {
        params['fk_qybm'] = cuser['fk_qybm'];
      }*/

      //获取表格数据
      table.render({
        elem: '#xmTable',
        title: '小区列表',
        url: url, //数据接口
        where: params, //请求参数
        page: {
          layout: ['prev', 'page', 'next', 'skip', 'count']
        },
        // page: true,
        limit: 10,
        //limits: [10, 20, 50],
        cols: [[ //表头
          {field: 'xmmc', title: '小区名称'},
          {field: 'xmlx', title: '小区类型'},
          {field: 'xmdz', title: '小区地址'},
          {field: 'xmxz', title: '小区性质'},
          {field: 'xmlx', title: '小区类型'},
          {toolbar: '#xmTableToolBar', align: 'center', fixed: 'right', title: '操作'}
        ]],
        parseData: function (res) { //res 即为原始返回的数据
          return {
            "code": res.success ? 0 : 1, //解析接口状态
            "msg": res.msg, //解析提示文本
            "count": res.data.totalRecord, //解析数据长度
            "data": res.data.dataList //解析数据列表
          };
        }
      });
    }

    //工具条事件
    table.on('tool(xmTable)', function (obj) {
      let data = obj.data; //获得当前行数据
      let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
      let tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

      if (layEvent === 'kh') { //去开户
        let admin = top.layui.admin;
        let obj = {};
        obj["data-id"] = "kh-xm-" + data.id;
        obj["data-url"] = ctx + "/CZF/ZHKH/toKh/" + data.id;
        obj["data-opts"] = $("#opts").val();
        obj["title"] = "开户-" + data.xmmc;
        admin.openTabsPage(obj);
        //定位当前tabs
        top.layui.element.tabChange('menuTab', obj["data-id"]);
        admin.tabsBodyChange(obj["data-id"], {});
      }

    });

  });
</script>
</body>
</html>