<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>物业维修基金管理系统-开户</title>
</head>
<body>
<div class="layui-tab-item layui-show" style="padding: 10px;">
  <div id="LAY_preview">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>房间信息</legend>
    </fieldset>

    <!-- 房间信息 -->
    <div>
      <table class="layui-table" lay-size="sm">
        <tbody>
        <tr>
          <th>房号</th>
          <td th:text="${fh.fh}"></td>
          <th>所在楼层</th>
          <td th:text="${fh.szlc}"></td>
          <th>所在单元</th>
          <td th:text="${fh.szdy}"></td>
          <th>建筑面积(m<sup>2</sup>)</th>
          <td th:text="${fh.scmj_jzmj}"></td>
        </tr>
        <tr>
          <th>业主名称</th>
          <td th:text="${fh.yzmc}"></td>
          <th>业主证件号码</th>
          <td th:text="${fh.yzzjh}"></td>
          <th>业主联系电话</th>
          <td th:text="${fh.yzlxdh}"></td>
          <th>业主地址</th>
          <td th:text="${fh.yzdz}"></td>
        </tr>
        <tr>
          <th>合同备案号</th>
          <td th:text="${fh.htbah}"></td>
          <th>合同金额(元)</th>
          <td th:text="${fh.htje}"></td>
          <th></th>
          <td></td>
          <th></th>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>开户信息</legend>
    </fieldset>

    <!-- 账户信息 -->
    <form class="layui-form" method="post" id="zh_khForm">
      <div class="layui-form">
        <table class="layui-table" lay-size="sm">
          <tbody>
          <tr>
            <th style="white-space: nowrap;">账号</th>
            <td>
              <input type="text" name="no" lay-verify="required" placeholder="" class="layui-input"/>
            </td>
            <th style="white-space: nowrap;">账户名称</th>
            <td>
              <input type="text" name="yzmc" lay-verify="required" placeholder="" class="layui-input"
                     th:value="${fh.yzmc}"/>
            </td>
            <th style="white-space: nowrap;">证件号码</th>
            <td>
              <input type="text" name="yzzjh" lay-verify="required" placeholder="" class="layui-input"
                     th:value="${fh.yzzjh}"/>
            </td>
          </tr>
          <tr>
            <th style="white-space: nowrap;">联系电话</th>
            <td>
              <input type="text" name="lxdh" lay-verify="required" placeholder="" class="layui-input"
                     th:value="${fh.yzlxdh}"/>
            </td>
            <th style="white-space: nowrap;">
              缴纳标准(
              <span th:if="${jnsz.jnfs} == '按合同总价缴纳' ">%</span>
              <span th:if="${jnsz.jnfs} == '按建筑面积缴纳' ">元/m<sup>2</sup></span>
              )
            </th>
            <td>
              <input type="number" name="jzbl" placeholder=""
                     class="layui-input" th:value="${jnbz}" th:readonly="${!bgd}"
              />
            </td>
            <th style="white-space: nowrap;">应缴款项(元)</th>
            <td>
              <input type="number" name="money" placeholder=""
                     class="layui-input" th:value="${money}" readonly
              />
              <input type="hidden" name="cjje" placeholder=""
                     class="layui-input" th:value="${money}" readonly
              />
            </td>
          </tr>
          <tr>
            <th style="white-space: nowrap;">开户银行</th>
            <td>
              <input type="text" name="khyh" readonly placeholder="" class="layui-input" th:value="${yh.yxmc}"/>
            </td>
            <th style="white-space: nowrap;"></th><td></td>
            <th style="white-space: nowrap;"></th><td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <input type="hidden" name="fk_xtglid" th:value="${cuser.fk_xtglid}"/>
      <input type="hidden" name="fk_qybm" th:value="${cuser.fk_qybm}"/>
      <input type="hidden" name="fk_yhid" th:value="${yh.id}"/>
      <input type="hidden" name="fk_fhxxid" th:value="${fh.id}"/>
      <input type="hidden" name="fk_ldxxid" th:value="${fh.fk_ldxxid}"/>
      <input type="hidden" name="fk_xmxxid" th:value="${fh.fk_xmxxid}"/>

      <input type="hidden" name="zt" value="正常"/>

      <button style="display:none;" lay-submit lay-filter="submitBut" class="sb"></button>
    </form>
  </div>
</div>

<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/zhMgr/zhMgr.js}"></script>

<script th:inline="javascript">
  const cuser = [[${cuser}]];
  const opts = [[${opts}]];
  const xtglid = [[${cuser.fk_xtglid}]];
  const cYhType = [[${cuser.yhType}]];
  const jnsz = [[${jnsz}]];
  const fh = [[${fh}]];
  const yh = [[${yh}]];

  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).extend({
    cascader: 'cascader/cascader'
  }).use(['element', 'laydate', 'table', 'form', 'cascader'], function () {
    let form = layui.form;
    let table = layui.table;
    let upload = layui.upload;
    let laydate = layui.laydate;

    laydate.render({
      elem: '#khrq',
      type: 'datetime'
    });

    form.on('submit(submitBut)', function (data) {
      let data1 = {};

      let zh = {};
      for (let key in data.field) {
        let val = data.field[key];
        if (val) {
          zh[key] = val;
        }
      }

      data1.model = zh;

      let list = [];

      let mx = {};
      mx['czlx'] = "资金初缴";
      mx['sr'] = zh['money'];
      mx['zhye'] = zh['money'];

      list.push(mx);

      data1.list = list;

      let index = top.layer.getFrameIndex(window.name); //获取窗口索引
      //添加，编辑账号
      aeZh(data1, index);

      return false;
    });

  });
</script>
</body>
</html>