<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>物业维修基金管理系统-方案预付支付</title>
</head>
<body>
<input type="hidden" id="opts" th:value="${optsStr}"/>

<div class="layui-tab-item layui-show">
  <div id="LAY_preview">
    <fieldset class="layui-elem-field layui-field-title">
      <legend>方案预付列表</legend>
    </fieldset>

    <!-- 预付 -->
    <div style="padding: 10px;">
      <div style="padding-bottom: 10px;">
        <form class="layui-form" id="searchForm">

          <div class="layui-inline" style="">
            <div class="layui-input-inline">
              <input type="text" id="yfkbh" name="yfkbh" placeholder="请输入方案预付编号搜索" value=""
                     autocomplete="off" class="layui-input" style=""/>
            </div>
          </div>

          <div class="layui-inline" style="">
            <div class="layui-input-inline">
              <select name="zt" id="zt">
                <option value="" selected>请选择</option>
                <option value="已支付">已支付</option>
                <option value="未支付">未支付</option>
              </select>
            </div>
          </div>

          <div class="layui-inline" style="">
            <div class="layui-input-inline">
              <button class="layui-btn layui-btn-danger btn_search" lay-submit lay-filter="formDemo1"
                      style="margin-left:15px;">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
              </button>
            </div>
          </div>

        </form>
        <div class="clearfix"></div>
      </div>


      <table id="fayfTable" class="layui-table" lay-filter="fayfTable"></table>

      <script type="text/html" id="fayfTableToolBar">
        <a th:if="${#lists.contains(opts, 'show')}" class="layui-btn layui-btn-xs" lay-event="mx">明细</a>
        {{#  if('未支付' == d.zt){ }}
        <a th:if="${#lists.contains(opts, 'update')}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="zf">支付</a>
        {{#  } }}
      </script>
    </div>

  </div>
</div>

<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/math.js}"></script>

<script th:inline="javascript">
  const cuser = [[${cuser}]];

  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).extend({
    cascader: 'cascader/cascader',
    drawer: '/drawer/drawer',
    tableEdit: 'tableEdit/tableEdit',
  }).use(['element', 'laydate', 'table', 'tableEdit', 'form', 'cascader', 'drawer'], function () {
    //let element = layui.element;
    let laydate = layui.laydate;
    let form = layui.form;
    let table = layui.table;
    let cascader = layui.cascader;
    let drawer = layui.drawer;
    let tableEdit = layui.tableEdit;

    getTableData();

    //获取预付列表
    function getTableData(yfkbh, zt) {
      let params = {};
      /*if(cuser.yhType == '物业科' || cuser.yhType == '物业公司' || cuser.yhType == '银行') {
        params['fk_qybm'] = cuser['fk_qybm'];
      }*/
      if(yfkbh){
        params['yfkbh'] = yfkbh;
      }
      if(zt){
        params['zt'] = zt;
      }

      let url = ctx + 'CZF/FAYFZF/getList/';

      //获取表格数据
      table.render({
        elem: '#fayfTable',
        title: '方案预付列表',
        url: url, //数据接口
        where: params, //请求参数
        page: {
          layout: ['prev', 'page', 'next', 'skip', 'count']
        },
        // page: true,
        limit: 10,
        //limits: [10, 20, 50],
        cols: [[ //表头
          {field: 'yfkbh', title: '预付编号'},
          {field: 'yfkje', title: '预付金额(元)'},
          {field: 'yfkrq', title: '预付日期'},
          {field: 'yfkqs', title: '预付签署'},
          {field:'zt', title: '状态'},
          {toolbar: '#fayfTableToolBar', align: 'center', fixed: 'right', title: '操作'}
        ]],
        parseData: function (res) { //res 即为原始返回的数据
          return {
            "code": res.success ? 0 : 1, //解析接口状态
            "msg": res.msg, //解析提示文本
            "count": res.data.totalRecord, //解析数据长度
            "data": res.data.dataList //解析数据列表
          };
        }
      });
    }

    //工具条事件
    table.on('tool(fayfTable)', function (obj) {
      let data = obj.data; //获得当前行数据
      let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
      let tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

      if (layEvent === 'mx') { //明细
        top.layer.open({
          type: 2,
          title: '方案预付支付信息',
          closeBtn: 1,
          shadeClose: false,
          area: ['1000px', '80%'],
          content: ctx + "/CZF/FAYFZF/toInfo/" + data.id,
          btn: ["支付单据打印"],
          yes: function (index) {
            debugger;
            Receipt.print(ctx + "CZF/FAYFZF/printReceipt/" + data.id);
            return false;
          },
          end: function (index) {
            top.layer.close(index);
          }
        });
      } else if(layEvent === 'zf') { //支付
        top.layer.open({
          type: 2,
          title: '方案预付支付信息',
          closeBtn: 1,
          shadeClose: false,
          area: ['1000px', '80%'],
          content: ctx + "/CZF/FAYFZF/toZf/" + data.id,
          btn: ["确定", "取消"],
          yes: function (index, layero) {
            let body = top.layer.getChildFrame('body', index);
            let frm = $(body).find("form#fa_yfzfForm");
            $(frm).find("button.sb").click();
            return false;
          },
          cancel: function (index, layero) {
          },
          end: function (index) {
            top.layer.close(index);
          }
        });
      }
    });

    //搜索按钮事件
    form.on('submit(formDemo1)', function (data) {
      let yfkbh = data.field.yfkbh;
      let zt = data.field.zt;
      getTableData(yfkbh, zt);
      return false;
    });

  });
</script>
</body>
</html>