<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>物业维修基金管理系统-添加用户</title>
</head>
<body>
<div style="padding: 20px;">
  <form class="layui-form" method="post" id="user_addForm">
    <div class="layui-form">
      <table class="layui-table">
        <tbody>
        <tr>
          <th style="width: 100px;">角色</th>
          <td>
            <select name="fk_jsid" lay-verify="required" lay-filter="role">
              <option value="">请选择角色</option>
              <option th:each="role,stat:${roleList}" th:value="${role.id}"
                      th:text="${role.JSMC}"></option>
            </select>
          </td>
          <th style="width: 100px;">是否启用</th>
          <td>
            <input type="checkbox" checked="" name="is_lock" lay-skin="switch" lay-filter="is_lock"
                   lay-text="是|否" value="true"/>
          </td>
        </tr>
        <tr>
          <th>用户名</th>
          <td>
            <input type="text" name="username" lay-verify="required" placeholder="" class="layui-input"/>
          </td>
          <!-- 选择物业公司或者银行 -->
          <th class="fk_id_other"></th>
          <td class="fk_id_other"></td>
          <th class="fk_id_wy" style="display: none;">请选择物业公司</th>
          <td class="fk_id_wy" style="display: none;">
            <select name="fk_id_wy" lay-verify="fk_id" lay-filter="fk_id_wy">
              <option value="">请选择物业公司</option>
              <option th:each="wyGs,stat:${wyGsList}" th:value="${wyGs.id}"
                      th:text="${wyGs.qymc}"></option>
            </select>
          </td>
          <th class="fk_id_yh" style="display: none;">请选择银行</th>
          <td class="fk_id_yh" style="display: none;">
            <select name="fk_id_yh" lay-verify="fk_id" lay-filter="fk_id_yh">
              <option value="">请选择银行</option>
              <option th:each="yh,stat:${yhList}" th:value="${yh.id}"
                      th:text="${yh.yxmc}"></option>
            </select>
          </td>
        </tr>
        <tr>
          <th>密码(必须包含数字、字母、特殊符号，长度最少8位)</th>
          <td>
            <input id="password" type="password" name="password" lay-verify="required|pass" placeholder=""
                   class="layui-input"/>
          </td>
          <th>重复密码</th>
          <td>
            <input id="repassword" type="password" name="repassword" lay-verify="required|pass"
                   placeholder=""
                   class="layui-input"/>
          </td>
        </tr>
        <tr>
          <th>联系方式</th>
          <td>
            <input type="text" name="lxdh" lay-verify="required" placeholder="" class="layui-input"/>
          </td>
          <th>联系人</th>
          <td>
            <input type="text" name="lxr" lay-verify="required" placeholder="" class="layui-input"/>
          </td>
        </tr>
        <tr>
          <th>所在区域</th>
          <td colspan="2">
            <input type="text" lay-verify="required|area" id="areas" name="fk_qybm" th:value="${cuser.fk_qybm}" style="display: none;"/>
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>
      <input type="hidden" name="roleType" class="layui-input" th:value="1"/>
      <input type="hidden" name="fk_xtglid" th:value="${cuser.fk_xtglid}"/>
    </div>
    <button style="display:none;" lay-submit lay-filter="submitBut" class="sb"></button>
  </form>
</div>

<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/sysMgr/userMgr/userMgr.js}"></script>
<script type="text/javascript" th:src="@{/static/js/citys.js}"></script>

<script th:inline="javascript">
  const xtglid = [[${cuser.fk_xtglid}]];
  const cYhType = [[${cuser.yhType}]];
  const qybm = [[${cuser.fk_qybm}]];
  //用户类型
  let YHType = "物业科";
  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).extend({
    cascader: 'cascader/cascader'
  }).use(['element', 'laydate', 'table', 'form', 'cascader'], function () {
    //let element = layui.element;
    //let laydate = layui.laydate;
    let form = layui.form;
    //let table = layui.table;
    let cascader = layui.cascader;

    //区域选择
    cascader.render({
      elem: $('#areas')[0],
      multiple: false,
      showAllLevels: true,
      props: {
        label: 'label',
        value: 'value',
        children: 'children'
      },
      options: AREAS,
      defaultValue: qybm
      // readonly: (cYhType == '物业科' || cYhType == '物业公司' || cYhType == '银行') ? true : false
    });

    form.verify({
      pass: function (value, item) {
        if (!new RegExp("^(?=.*?[A-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$").test(value)) {
          return '密码不符合要求';
        }
        if ($('input[name=repassword]').val() !== value) {
          return '两次输入的密码不一致';
        }
      },
      fk_id: function (value, item) {
        //1. 先判断当前元素是否显示
        if ($(item).css("display") !== "none") {
          if (!value) {
            return '必填项不能为空';
          }
        }
      },
      area: function (value, item) {
        if (!value) {
          return '请选择所在区域';
        }
      }
    });

    //角色变化
    form.on('select(role)', function (data) {
      let roleId = data.value;
      let roleName = data.elem[data.elem.selectedIndex].text;
      //判断角色
      if (roleName.indexOf("物业公司") !== -1) {
        $("th[class^='fk_id'], td[class^='fk_id']").hide();
        $("th[class='fk_id_wy'], td[class='fk_id_wy']").show();
        YHType = "物业公司";
      } else if (roleName.indexOf("银行") !== -1) {
        $("th[class^='fk_id'], td[class^='fk_id']").hide();
        $("th[class='fk_id_yh'], td[class='fk_id_yh']").show();
        YHType = "银行";
      } else {
        $("th[class^='fk_id'], td[class^='fk_id']").hide();
        $("th[class='fk_id_other'], td[class='fk_id_other']").show();
        YHType = "物业科";
      }
    });

    form.on('submit(submitBut)', function (data1) {
      let user = {};
      user['fk_jsid'] = data1.field.fk_jsid;
      user['fk_xtglid'] = xtglid;
      user['is_lock'] = !!data1.field.is_lock;
      user['lxdh'] = data1.field.lxdh;
      user['lxr'] = data1.field.lxr;
      user['password'] = data1.field.password;
      user['roleType'] = "1";
      user['username'] = data1.field.username;
      user['yHType'] = YHType;
      if (YHType === "银行") {
        user['fk_id'] = data1.field.fk_id_yh;
      } else if (YHType === "物业公司") {
        user['fk_id'] = data1.field.fk_id_wy;
      }
      user['fk_qybm'] = data1.field.fk_qybm;

      let index = top.layer.getFrameIndex(window.name); //获取窗口索引

      aeUser(user, 'add', index);

      return false;
    });

  });
</script>
</body>
</html>