<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>物业维修基金管理系统-方案审核-待审核</title>
</head>
<body>
<div class="layui-tab-item layui-show" style="padding: 10px;">
  <div id="LAY_preview">
    <fieldset class="layui-elem-field layui-field-title">
      <legend>待审核信息</legend>
    </fieldset>

    <!-- 待审核列表 -->
    <div style="padding: 10px;">
      <table id="dshTable" class="layui-table" lay-filter="dshTable"></table>

      <script type="text/html" id="dshTableToolBar">
        <a th:if="${#lists.contains(opts, 'update')}" class="layui-btn layui-btn-xs" lay-event="sh">去审核</a>
      </script>

    </div>

  </div>
</div>


<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/zhMgr/zhMgr.js}"></script>

<script th:inline="javascript">
  const cuser = [[${cuser}]];

  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).extend({
    cascader: 'cascader/cascader',
    drawer: '/drawer/drawer'
  }).use(['element', 'laydate', 'table', 'form', 'cascader', 'drawer'], function () {
    //let element = layui.element;
    //let laydate = layui.laydate;
    let form = layui.form;
    let table = layui.table;
    let cascader = layui.cascader;
    let drawer = layui.drawer;

    getTableData();

    //获取待审核列表
    function getTableData() {
      let params = {};
      /*if(cuser.yhType == '物业科' || cuser.yhType == '物业公司' || cuser.yhType == '银行') {
        params['fk_qybm'] = cuser['fk_qybm'];
      }*/
      let url = ctx + 'CZF/FASH/getPendingReviewList';
      //获取表格数据
      table.render({
        elem: '#dshTable',
        title: '待审核列表',
        url: url, //数据接口
        where: params, //请求参数
        page: {
          layout: ['prev', 'page', 'next', 'skip', 'count']
        },
        // page: true,
        limit: 10,
        //limits: [10, 20, 50],
        cols: [[ //表头
          {templet: '<div>{{d.data.fabh}}</div>', title: '方案编号'},
          {templet: '<div>{{d.data.fayjje}}</div>', title: '方案预算'},
          {templet: '<div>{{d.data.sqrq}}</div>', title: '申请日期'},
          {templet: '<div>{{d.currentNode.jdmc}}</div>', title: '审批结点'},
          {toolbar: '#dshTableToolBar', align: 'center', fixed: 'right', title: '操作'}
        ]],
        parseData: function (res) { //res 即为原始返回的数据
          return {
            "code": res.success ? 0 : 1, //解析接口状态
            "msg": res.msg, //解析提示文本
            "count": res.data.totalRecord, //解析数据长度
            "data": res.data.dataList //解析数据列表
          };
        }
      });
    }

    //工具条事件
    table.on('tool(dshTable)', function (obj) {
      debugger;
      let data = obj.data; //获得当前行数据
      let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
      let tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

      if (layEvent === 'sh') { //审核
        let index = top.layer.open({
          type: 2,
          title: '审核',
          closeBtn: 1,
          shadeClose: false,
          area: ['1000px', '80%'],
          content: ctx + "/CZF/FASH/toSh/" + data.id,
          btn: ['通过', '不通过', '审核历史', '取消'],
          yes: function (index, layero) {
            debugger;
            let body = top.layer.getChildFrame('body', index);
            let frm = $(body).find("form#sh_Form");
            $(frm).find("input[name='action']").val("通过");
            $(frm).find("button.sb").click();
            return false;
          },
          btn2: function (index, layero) {
            debugger;
            let body = top.layer.getChildFrame('body', index);
            let frm = $(body).find("form#sh_Form");
            $(frm).find("input[name='action']").val("不通过");
            $(frm).find("button.sb").click();
            return false;
          },
          btn3: function (index, layero) {
            debugger;
            let index_i = top.layer.load();
            $.ajax({
              url: ctx + "/CZF/FASH/getHistoryList_wfi/" + data.id,
              type: "POST",
              async: false,
              dataType: "json",
              contentType: "application/json;charset=utf-8",
              success: function (data) {
                top.layer.close(index_i);
                let his = data.data;
                top.layui.drawer.render({
                  title: '审核历史',  //标题
                  offset: 'l',    //r:抽屉在右边、l:抽屉在左边
                  top: 20,        //抽屉顶部距离，默认0
                  bottom: 20,     //抽屉底部距离，默认0
                  width: "600px", //r、l抽屉可以设置宽度
                  content: DRAWER.buildContent(his)
                });
              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                top.layer.close(index_i);
                top.layer.msg(XMLHttpRequest.responseJSON.msg ? XMLHttpRequest.responseJSON.msg : "操作失败!");
              }
            });
            return false;
          },
          btn4: function (index, layero) {
            top.layer.close(index);
            return false;
          },
          end: function () {
            top.layer.close(index);
            window.location.reload();
          }
        });
      }
    });

  });
</script>
</body>
</html>