<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>物业维修基金管理系统-方案预付添加</title>
</head>
<body>
<input type="hidden" id="opts" th:value="${optsStr}"/>

<div class="layui-tab-item layui-show">
  <div id="LAY_preview">

    <div style="padding: 10px;">
      <form class="layui-form" method="post" id="fa_jsForm" lay-filter="fa_jsForm">
        <div class="layui-tab layui-tab-card">
          <ul class="layui-tab-title">
            <li class="layui-this">结算信息</li>
            <li>业主信息</li>
          </ul>
          <div class="layui-tab-content">
            <!-- 预付信息 -->
            <div class="layui-tab-item layui-show">
              <div class="layui-form" style="padding: 2px;">
                <table class="layui-table" lay-size="sm">
                  <tr>
                    <th style="white-space: nowrap;">方案结算编号</th>
                    <td colspan="3">
                      <input type="text" readonly name="jsbh" th:value="${fa.fabh}" lay-verify="required" placeholder=""
                             class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">工程预算(元)</th>
                    <td>
                      <input type="number" readonly name="fays" th:value="${fa.fayjje}" lay-verify="required"
                             placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">已预付金额(元)</th>
                    <td>
                      <input type="number" readonly name="yfje" th:value="${fa.yfk}" lay-verify="required" placeholder="" class="layui-input"/>
                    </td>
                  </tr>
                  <tr>
                    <th style="white-space: nowrap;">结算金额(元)</th>
                    <td>
                      <input type="number" name="jsje" lay-verify="required|cnumber" placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">应支付金额(元)</th>
                    <td>
                      <input type="number" readonly name="yzfje" lay-verify="required|cnumber" placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">结算日期</th>
                    <td>
                      <input type="text" readonly name="jsrq" placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">结算登记</th>
                    <td>
                      <input type="text" name="jsdj" placeholder="" class="layui-input"/>
                    </td>
                  </tr>
                  <tr>
                    <th style="white-space: nowrap;">结算批示</th>
                    <td colspan="3">
                      <input type="text" name="jsps" lay-verify="required" placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">批示日期</th>
                    <td>
                      <input type="text" readonly name="jspsrq" lay-verify="required" placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">批示人</th>
                    <td>
                      <input type="text" name="jspsr" lay-verify="required" placeholder="" class="layui-input"/>
                    </td>
                  </tr>
                  <tr>
                    <th style="white-space: nowrap;">备注</th>
                    <td colspan="7">
                      <textarea name="bz" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </td>
                  </tr>
                </table>
                <button lay-submit lay-filter="ftsc" id="ftsc" class="layui-btn layui-btn-sm">分摊生成</button>
              </div>
              <input type="hidden" name="fk_faid" th:value="${fa.id}"/>
              <input type="hidden" name="fk_xtglid" th:value="${cuser.fk_xtglid}"/>
              <input type="hidden" name="fk_qybm" th:value="${cuser.fk_qybm}"/>
            </div>
            <!-- 分摊信息 -->
            <div class="layui-tab-item">
              <div style="padding: 2px;">
                <table id="ftTable" class="layui-table" lay-filter="ftTable" lay-size="sm"></table>
                <button style="display: none;" lay-submit lay-filter="jstj" id="jstj" class="layui-btn layui-btn-sm">
                  结算提交
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/math.js}"></script>

<script th:inline="javascript">
  const cuser = [[${cuser}]];
  const fa = [[${fa}]];

  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).extend({
    cascader: 'cascader/cascader',
    drawer: '/drawer/drawer',
    tableEdit: 'tableEdit/tableEdit',
  }).use(['element', 'laydate', 'table', 'tableEdit', 'form', 'cascader', 'drawer'], function () {
    //let element = layui.element;
    let laydate = layui.laydate;
    let form = layui.form;
    let table = layui.table;
    let cascader = layui.cascader;
    let drawer = layui.drawer;
    let tableEdit = layui.tableEdit;

    //日期
    laydate.render({
      elem: "input[name='jspsrq']"
    });
    laydate.render({
      elem: "input[name='jsrq']"
    });

    //表单验证
    form.verify({
      cnumber: function (value, item) {
        let reg = new RegExp("^\\d+(?:\\.\\d{1,2})?$")
        if(value && isNaN(value)){
          return "只能输入数字";
        }
        if(!reg.test(value)) {
          return "最多两位小数";
        }
      }
    });

    //计算应支付金额
    $("input[name='jsje']").on("change", function(obj){
      let jsje = $(this).val();
      let yfje = $("input[name='yfje']").val();
      if(!jsje) {
        $("input[name='yzfje']").val("");
      } else {
        //应支付金额 = 结算金额 - 已预付金额
        if(!yfje) {
          yfje = "0";
        }
        let sumStr = math.subtract(math.bignumber(jsje), math.bignumber(yfje)).toString();
        $("input[name='yzfje']").val(sumStr);
      }
    })

    //分摊数据
    let ftData = [];

    //渲染分摊table
    function buildFtTable(fa_js) {
      let index = top.layer.load();
      //获取分摊数据
      $.ajax({
        url: ctx + "CZF/FAJS/buildFtData",
        type: "POST",
        data: JSON.stringify(fa_js),
        contentType: "application/json;charset=utf-8",
        success: function (data) {
          top.layer.close(index); //关闭弹出框
          ftData = data.data;

          //渲染table
          let cols = table.render({
            elem: '#ftTable',
            title: '分摊列表',
            data: ftData,
            page: false,
            method: "POST",
            totalRow: true,
            height: 400,
            cols: [[ //表头
              {field: 'fh', title: '房号', totalRowText: '合计'},
              {field: 'scmj_jzmj', title: '建筑面积', totalRow: true},
              {field: 'yzmc', title: '业主名称'},
              {field: 'yzzjh', title: '业主证件号码'},
              {field: 'yzlxdh', title: '业主联系电话'},
              {
                title: '账户状态', templet: function (d) {
                  let zh = d.zh;
                  if (zh) {
                    return zh.zt;
                  } else {
                    return "未开户";
                  }
                }
              },
              {
                title: '账号', templet: function (d) {
                  let zh = d.zh;
                  if (zh) {
                    return zh.no;
                  } else {
                    return "";
                  }
                }
              },
              {
                title: '账户资金(元)', totalRow: true, templet: function (d) {
                  let zh = d.zh;
                  if (zh) {
                    return zh.money;
                  } else {
                    return "";
                  }
                }
              },
              {field: 'ftje', title: '分摊金额(元)', totalRow: true, event: 'ftje', config: {
                  type: 'input', verify: {
                    "regx": function (data) {
                      return !(!data || isNaN(data) || data <= 0);
                    }, msg: "请输入大于0的数字"
                  }
                }},
            ]],
            parseData: function (res) { //res 即为原始返回的数据
              return {
                "code": res.success ? 0 : 1, //解析接口状态
                "msg": res.msg, //解析提示文本
                "data": res.data //解析数据列表
              };
            },
            done: function (res, curr, count) {
              //显示提交按钮
              $("#jstj").show();
            }
          }).config.cols;

          /**
           * 参数cols是table.render({})中的cols属性值
           * aop代理是基于event点击事件进行操作的，
           * 因此cols中务必开启event点击事件！
           **/
          let aopTable = tableEdit.aopObj(cols); //获取一个aop对象

          /**
           * 注意：
           * 1、 aopTable.on('tool(xxx)',function (obj) {})
           * 2、 table.on('tool(yyy)',function (obj) {})
           * 如果1中的xxx与2中的yyy字符串相同时，
           * 不能同时用，用了会造成后调用者覆盖前调用者。
           * 应该直接用1来代替2，因为1中包含了2中的事件。
           * 如果不相同，则可以同时使用。
           **/
          aopTable.on('tool(ftTable)', function (obj) {
            let rowIndex = $(obj.tr).attr("data-index");
            if (obj.event === 'ftje') {
              let field = obj.field; //单元格字段
              let value = obj.value; //修改后的值
              let data = obj.data; //当前行旧数据
              let event = obj.event; //当前单元格事件属性值
              let update = {};
              update[field] = value;
              //把value更新到行中
              obj.update(update);
              console.log("ftData = " + ftData);
              table.reload('ftTable');
            }
          });
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          top.layer.close(index); //关闭弹出框
          top.layer.msg(XMLHttpRequest.responseJSON.msg ? XMLHttpRequest.responseJSON.msg : "操作失败!");
          return false;
        }
      });
    }

    //分摊生成
    form.on('submit(ftsc)', function (data) {
      let fajs = {};
      for (let key in data.field) {
        let val = data.field[key];
        if (val) {
          fajs[key] = val;
        }
      }
      //请求后台，生成分摊信息
      buildFtTable(fajs);

      return false;
    });

    //预付提交
    form.on('submit(jstj)', function (data) {
      let fajs = {};
      for (let key in data.field) {
        let val = data.field[key];
        if (val) {
          fajs[key] = val;
        }
      }

      //应支付金额
      let sum = 0.00;
      //结算金额
      let jsj = 0.00;
      for (let i = 0; i < ftData.length; i++) {
        let ft = ftData[i];
        //判断金额是否足够
        if(math.subtract(math.bignumber(ft.zh.money), math.bignumber(ft.ftje)) < 0) {
          top.layer.msg("房间(" + ft.fh + ")账户余额不足，无法结算！");
          return false;
        }
        sum = math.add(math.bignumber(sum), math.bignumber(ft.ftje));
      }
      jsj = math.add(math.bignumber(sum), math.bignumber(fajs.yfje));
      let sumStr = sum.toString();
      //判断合计和应金额是否相等
      let sub = math.subtract(math.bignumber(sumStr), math.bignumber(fajs.yzfje));
      if (sub != 0) {
        //询问
        top.layer.confirm("分摊金额总和不等于应支付金额，结算金额将修改为 " + jsj + "(元)，应支付金额将修改为" + sum + "(元)，是否继续提交", {
          btn: ['确定','取消'] //按钮
        }, function(index){ //确定，提交预付
          top.layer.close(index);
          //修改预付款金额
          form.val("fa_jsForm", {"jsje": jsj, "yzfje": sumStr});

          form.render(null, "fa_jsForm");
          fajs.yzfje = sumStr;
          fajs.jsje = jsj;

          checkJe(fajs);
        });
      } else {
        checkJe(fajs);
      }
      return false;
    });

    //检查结算金额
    function checkJe(fajs) {
      //判断结算金额
      if(math.subtract(math.bignumber(fajs.jsje), math.bignumber(fajs.fays)) != 0) {
        top.layer.confirm("结算金额不等于方案预算，是否继续提交", {
          btn: ['确定','取消'] //按钮
        }, function(index){
          if(math.bignumber(fajs.yzfje) >= 0) {
            //提交数据
            submitData(fajs);
          } else {
            top.layer.msg("应支付金额为负数，无法提交");
            return false;
          }
        });
      } else {
        if(math.bignumber(fajs.yzfje) >= 0) {
          //提交数据
          submitData(fajs);
        } else {
          top.layer.msg("应支付金额为负数，无法提交");
          return false;
        }
      }
    }

    //提交数据
    function submitData(fajs) {
      //构造请求数据
      let data = {};
      data['wywxjJ_FA_JSKmodel'] = fajs;
      data['wywxjJ_FA_JS_FTlist'] = ftData;

      let loadi = top.layer.load();

      $.ajax({
        url: ctx + "CZF/FAJS/addFajs",
        type: "POST",
        data: JSON.stringify(data),
        contentType: "application/json;charset=utf-8",
        success: function (data) {
          top.layer.close(loadi); //关闭弹出框
          top.layer.msg("提交成功");
          //关闭弹窗
          let index1 = top.layer.getFrameIndex(window.name); //获取窗口索引
          top.layer.close(index1);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          top.layer.close(loadi); //关闭弹出框
          top.layer.msg(XMLHttpRequest.responseJSON.msg ? XMLHttpRequest.responseJSON.msg : "操作失败!");
          return false;
        }
      });
    }

  });
</script>
</body>
</html>