<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>物业维修基金管理系统-方案结算详情</title>
</head>
<body>
<input type="hidden" id="opts" th:value="${optsStr}"/>

<div class="layui-tab-item layui-show">
  <div id="LAY_preview">

    <div style="padding: 10px;">
      <form class="layui-form" method="post" id="fa_jsForm" lay-filter="fa_jsForm">
        <div class="layui-tab layui-tab-card">
          <ul class="layui-tab-title">
            <li class="layui-this">结算信息</li>
            <li>业主信息</li>
          </ul>
          <div class="layui-tab-content">
            <!-- 结算信息 -->
            <div class="layui-tab-item layui-show">
              <div class="layui-form" style="padding: 2px;">
                <table class="layui-table" lay-size="sm">
                  <tr>
                    <th style="white-space: nowrap;">方案结算编号</th>
                    <td colspan="3">
                      <input type="text" readonly name="jsbh" lay-verify="required" placeholder=""
                             class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">工程预算(元)</th>
                    <td>
                      <input type="number" readonly name="fays" lay-verify="required"
                             placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">已预付金额(元)</th>
                    <td>
                      <input type="number" readonly name="yfje" lay-verify="required" placeholder="" class="layui-input"/>
                    </td>
                  </tr>
                  <tr>
                    <th style="white-space: nowrap;">结算金额(元)</th>
                    <td>
                      <input type="number" readonly name="jsje" lay-verify="required|cnumber" placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">应支付金额(元)</th>
                    <td>
                      <input type="number" readonly name="yzfje" lay-verify="required|cnumber" placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">结算日期</th>
                    <td>
                      <input type="text" readonly name="jsrq" placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">结算登记</th>
                    <td>
                      <input type="text" readonly name="jsdj" placeholder="" class="layui-input"/>
                    </td>
                  </tr>
                  <tr>
                    <th style="white-space: nowrap;">结算批示</th>
                    <td colspan="3">
                      <input type="text" readonly name="jsps" lay-verify="required" placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">批示日期</th>
                    <td>
                      <input type="text" readonly name="jspsrq" lay-verify="required" placeholder="" class="layui-input"/>
                    </td>
                    <th style="white-space: nowrap;">批示人</th>
                    <td>
                      <input type="text" readonly name="jspsr" lay-verify="required" placeholder="" class="layui-input"/>
                    </td>
                  </tr>
                  <tr>
                    <th style="white-space: nowrap;">备注</th>
                    <td colspan="7">
                      <textarea name="bz" readonly placeholder="请输入内容" class="layui-textarea"></textarea>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- 分摊信息 -->
            <div class="layui-tab-item">
              <div style="padding: 2px;">
                <table id="ftTable" class="layui-table" lay-filter="ftTable" lay-size="sm"></table>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/math.js}"></script>

<script th:inline="javascript">
  const cuser = [[${cuser}]];
  const id = [[${id}]];

  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).extend({
    cascader: 'cascader/cascader',
    drawer: '/drawer/drawer',
    tableEdit: 'tableEdit/tableEdit',
  }).use(['element', 'laydate', 'table', 'tableEdit', 'form', 'cascader', 'drawer'], function () {
    //let element = layui.element;
    let laydate = layui.laydate;
    let form = layui.form;
    let table = layui.table;
    let cascader = layui.cascader;
    let drawer = layui.drawer;
    let tableEdit = layui.tableEdit;

    getDetail();

    //获取方案详情
    function getDetail() {
      let index = top.layer.load();
      $.ajax({
        url: ctx + "/CZF/FAJS/getDetail/" + id,
        type: "GET",
        dataType: "json",
        contentType: "application/json;charset=utf-8",
        success: function (data) {
          top.layer.close(index); //关闭弹出框
          let fajs = data.data;

          //渲染表单数据
          form.val("fa_jsForm", fajs);

          //渲染表格数据
          buildFtTable(fajs)
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          top.layer.close(index); //关闭弹出框
          top.layer.msg(XMLHttpRequest.responseJSON.msg ? XMLHttpRequest.responseJSON.msg : "操作失败!");
          return false;
        }
      });
    }

    //渲染分摊table
    function buildFtTable(fa_js) {
      table.render({
        elem: '#ftTable',
        title: '分摊列表',
        data: fa_js.ftList2,
        page: false,
        method: "POST",
        totalRow: true,
        height: 400,
        cols: [[ //表头
          {field: 'fh', title: '房号', totalRowText: '合计'},
          {field: 'scmj_jzmj', title: '建筑面积', totalRow: true},
          {field: 'yzmc', title: '业主名称'},
          {field: 'yzzjh', title: '业主证件号码'},
          {field: 'yzlxdh', title: '业主联系电话'},
          {
            title: '账户状态', templet: function (d) {
              let zh = d.zh;
              if (zh) {
                return zh.zt;
              } else {
                return "未开户";
              }
            }
          },
          {
            title: '账号', templet: function (d) {
              let zh = d.zh;
              if (zh) {
                return zh.no;
              } else {
                return "";
              }
            }
          },
          {
            title: '账户资金(元)', totalRow: true, templet: function (d) {
              let zh = d.zh;
              if (zh) {
                return zh.money;
              } else {
                return "";
              }
            }
          },
          {field: 'ftje', title: '分摊金额(元)', totalRow: true},
        ]]
      })
    }
  });
</script>
</body>
</html>