<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>物业维修基金管理系统-方案预付信息</title>
</head>
<body>
<input type="hidden" id="opts" th:value="${optsStr}"/>

<div class="layui-tab-item layui-show">
  <div id="LAY_preview">
    <fieldset class="layui-elem-field layui-field-title">
      <legend>方案预付列表</legend>
    </fieldset>

    <!-- 预付 -->
    <div style="padding: 10px;">
      <!-- 新建预付 -->
      <div style="padding-bottom: 10px;">
        <div class="layui-inline" style="float:right;">
          <button th:if="${#lists.contains(opts, 'add') && fa.jszt != '已结算'}" id="addFayf" class="layui-btn layui-btn-normal"
                  style="margin-left:15px;">新建预付
          </button>
        </div>
      </div>

      <table id="fayfTable" class="layui-table" lay-filter="fayfTable"></table>

      <script type="text/html" id="fayfTableToolBar">
        <a th:if="${#lists.contains(opts, 'show')}" class="layui-btn layui-btn-xs" lay-event="mx">明细</a>
        {{#  if('已支付' != d.zt){ }}
          <a th:if="${#lists.contains(opts, 'del') && fa.jszt != '已结算'}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        {{#  } }}
      </script>
    </div>

  </div>
</div>

<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/math.js}"></script>

<script th:inline="javascript">
  const cuser = [[${cuser}]];
  const fk_faid = [[${fa.id}]];

  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).extend({
    cascader: 'cascader/cascader',
    drawer: '/drawer/drawer',
    tableEdit: 'tableEdit/tableEdit',
  }).use(['element', 'laydate', 'table', 'tableEdit', 'form', 'cascader', 'drawer'], function () {
    //let element = layui.element;
    let laydate = layui.laydate;
    let form = layui.form;
    let table = layui.table;
    let cascader = layui.cascader;
    let drawer = layui.drawer;
    let tableEdit = layui.tableEdit;

    getTableData();

    //获取预付列表
    function getTableData() {
      let params = {};
      /*if(cuser.yhType == '物业科' || cuser.yhType == '物业公司' || cuser.yhType == '银行') {
        params['fk_qybm'] = cuser['fk_qybm'];
      }*/

      let url = ctx + 'CZF/FAYF/getList/' + fk_faid;

      //获取表格数据
      table.render({
        elem: '#fayfTable',
        title: '方案预付列表',
        url: url, //数据接口
        where: params, //请求参数
        page: {
          layout: ['prev', 'page', 'next', 'skip', 'count']
        },
        // page: true,
        limit: 10,
        //limits: [10, 20, 50],
        cols: [[ //表头
          {field: 'yfkbh', title: '预付编号'},
          {field: 'yfkje', title: '预付金额(元)'},
          {field: 'yfkrq', title: '预付日期'},
          {field: 'yfkqs', title: '预付签署'},
          {field:'zt', title: '状态'},
          {toolbar: '#fayfTableToolBar', align: 'center', fixed: 'right', title: '操作'}
        ]],
        parseData: function (res) { //res 即为原始返回的数据
          return {
            "code": res.success ? 0 : 1, //解析接口状态
            "msg": res.msg, //解析提示文本
            "count": res.data.totalRecord, //解析数据长度
            "data": res.data.dataList //解析数据列表
          };
        }
      });
    }

    //工具条事件
    table.on('tool(fayfTable)', function (obj) {
      let data = obj.data; //获得当前行数据
      let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
      let tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

      if (layEvent === 'mx') { //明细
        top.layer.open({
          type: 2,
          title: '方案预付详情',
          closeBtn: 1,
          shadeClose: false,
          area: ['1000px', '80%'],
          content: ctx + "/CZF/FAYF/toInfo/" + data.id,
          btn: ["打印单据"],
          yes: function (index) {
            Receipt.print(ctx + "CZF/FAYF/printReceipt/" + data.id);
            return false;
          },
          end: function (index) {
            top.layer.close(index);
          }
        });
      } else if (layEvent === 'update') { //修改

      } else if (layEvent === 'del') { //删除
        top.layer.confirm("确定要删除该条预付信息？", {
          btn: ['确定','取消'] //按钮
        }, function(index){ //确定，提交预付
          top.layer.close(index);
          let loa = top.layer.load();
          $.ajax({
            url: ctx + "/CZF/FAYF/del/" + data.id,
            type: "GET",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
              top.layer.close(loa); //关闭弹出框
              top.layer.msg(data.msg);
              getTableData();
              return false;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              top.layer.close(loa); //关闭弹出框
              top.layer.msg(XMLHttpRequest.responseJSON.msg ? XMLHttpRequest.responseJSON.msg : "操作失败!");
              return false;
            }
          });
        });
      }
    });

    //添加按钮事件
    $("#addFayf").on('click', function () {
      top.layer.open({
        type: 2,
        title: '添加方案预付',
        closeBtn: 1,
        shadeClose: false,
        area: ['1000px', '80%'],
        content: ctx + "/CZF/FAYF/toAdd/" + fk_faid,
        end: function (index) {
          top.layer.close(index);
        }
      });
    });

  });
</script>
</body>
</html>